.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); 
  padding: 20px;
  background-color: #f5f5f5;
}

.home-card {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 20px;
}

mat-card-content p {
  margin-bottom: 10px;
}